nav {
    margin: 0;
    overflow: hidden;
}


.container {
    width: 100%;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.listItem {
    display: inline-block;
    list-style-type: none;
}

.activeNavItem {
    font-weight: bold;
}

.navItem {
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.navItem:hover {
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logoImage {
    width: 50px;
    height: 50px;
}